<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue5-1vue中CSS动画原理</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<style>
@keyframes bounce_in{
	0%{
		transform:scale(0);
	}50%{
		transform:scale(1.5);
	}100%{
		transform:scale(1);
	}
}
.active{
	animation: bounce_in 1s;
	transform-origin:left center;
}
.leave{
	animation: bounce_in 1s reverse;
	transform-origin:left center;
}

.displayblock{
	/*display:none;*/	
	color:red;
}
		</style>
	</head>
	<body>
		<div id="root">
			<transition 
				enter-active-class="active"
				leave-active-class="leave"
			>
				<div v-show="show">aa</div>
			</transition>
			<button @click="handleClick">按钮</button>
			
			<div v-for="(list1,key,index) of list" :class="{'displayblock':!!key}">
				<div v-for="(items,key,index) of list1.div">
					<h3>{{items.dt}}</h3>
					<h6 v-for="(item,key,index) of items.li">{{item._link}}</h6>
				</div>
			</div>
			
		</div>
	</body>
		<script type="text/javascript">
		var vm = new Vue({
			el:"#root",
			data:{
				show:true,
				activeId:0,
				list:[
					{div:[
			                {
			                    dt:'2.1权限管理',
			                    li:[
									{_link:"iframe2.html",text:"2.1权限管理"},
									{_link:"iframe3.html",text:"2.2权限管理"},
									{_link:"iframe4.html",text:"2.3权限管理"},
									{_link:"iframe5.html",text:"2.4权限管理"},
									{_link:"iframe6.html",text:"2.1这里可以随意加"}
			                    ]
			                },
			                {
			                    dt:'2.2.客户信息管理',
			                    li:[
									{_link:"iframe1.html",text:"2.3.客户信息管理"}
			                    ]
			                }
			            ]
					},{
		            	div:[{
		            		dt:"3.dtdt",
		            		li:[
		            			{_link:"3333.html",text:"2.3.客户信息管理"}
		            		]
		            	}]
		            }]
			},
			methods:{
				handleClick:function(){
					this.show = !this.show
				}
			}
		});
		//:class="{'displayblock':!key}"
	</script>
</html>
