<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue3-6样式绑定02</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="root">
			<!--<div v-if="show==='a'">   
				this is a 
			</div>
			<div v-else-if="show==='b'">   		
				this is b
			</div>
			<div v-else>   		
				this is c
			</div>-->
			
			<!--必须连这写-->
			<!--<div v-if="show">   		
				{{message}}
			</div>
			<div v-else="show">   		
				Bye world
			</div>-->
			
			<!--display:none  性能高 不会删除-->
			<div v-show="show">			
				{{message}}
			</div>
			<div v-show="show">			
				{{message}}
			</div>
			<button @click="changeshow">按钮</button>
		</div>    
	</body>
	<script type="text/javascript">
			var vm = new Vue({
				el:"#root",
				data:{
					show:true,
					message:"world"
					/*show:'a',
					message:"world"*/
				},
				methods:{
					changeshow:function(){
						this.show = !this.show
					}
				}
			});
	</script>
</html>
