<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue4-6在Vue中使用插槽slot 具名插槽  父给子传slot，子用插槽</title>
		<title>$emit $on Vue.prototype.bus = new Vue()</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="root">
			<child>
				<template slot-scope="props">
					<h6>{{props.item}}</h6>
				</template>
			</child>
		</div>
	</body>
		<script type="text/javascript">
			Vue.component('child',{
				data:function(){
					return {
						list:[1,2,3,4]
					}
				},
				template:`<div>
							<ul>
								<li v-for="item of list">{{item}}</li>
								<slot v-for="item of list"
										:item = item
								>{{item}}</slot>
							</ul>
						</div>`
						
			})
			var vm = new Vue({
				el:"#root"
			});
	</script>
</html>
